          <!--Footer-->
          <footer class="footer">
            
            <div class="container space-top">
              <div class="row">
                
                <!--Featured Posts-->
                <div class="col-md-3 col-sm-3 col-xs-6">
                  <h3>Kedavra</h3>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                </div>
                
                <!--Featured Posts-->
                <div class="col-md-3 col-sm-3 col-xs-6">
                  <h4>Most Recent Posts</h4>
                  <div class="featured-post">
                    <h5><a href="#">Omnis iste natus error sit dolor set amet</a></h5>
                    <div class="meta group">
                      <div class="right"><span class="text-muted">5 min read</span></div>
                    </div>
                  </div>
                  <div class="featured-post">
                    <h5><a href="#">Lorem ipsum dolor sit amet consectetur</a></h5>
                    <div class="meta group">
                      <div class="right"><span class="text-muted">1 min read</span></div>
                    </div>
                  </div>
                </div>

                <!-- Flickr wiget -->
                <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="flickr-wiget">
                    <h4>Flickr Widget</h4>

                    <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=6&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=64742456@N00"></script>
                  </div>
                </div>
                
                <!--Contact Info-->
                <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="contacts">
                    <h4>Contact Info</h4>
                    <h5>E-mail:</h5>
                    <p><a href="mailto:travis.o.nelson@gmail.com">travis.o.nelson@gmail.com</a></p>
                  </div>
                </div>
              </div>
            </div>
            
            <!--Copyright-->
            <div class="copyright text-center">
              <div class="container">
                <p class="pull-left">Copyright © {{copyright}} - Travis Nelson</p>

                <div class="social-bar">
                  <a href="https://www.facebook.com/travnels"><i class="fa fa-facebook"></i></a>
                  <a href="https://twitter.com/travnels"><i class="fa fa-twitter"></i></a>
                  <a href="https://github.com/travnels"><i class="fa fa-github-alt"></i></a>
                  <a href="https://www.linkedin.com/in/travisonelson"><i class="fa fa-linkedin"></i></a>
                  <a href="https://instagram.com/travnels"><i class="fa fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </footer><!--Footer Close-->