                <!--Site Navigation-->
                <div class="navigation">
                  <!--Menu-->
                  <nav class="menu">
                    <ul>
                      <li{{#if navhome}} class="active"{{/if}}><a href="/">Home</a></li>
                      <li{{#if navabout}} class="active"{{/if}}><a href="/about/">About</a></li>
                      <li{{#if navblog}} class="active"{{/if}}><a href="/blog/">Blog</a></li>
                    </ul>
                  </nav>
                </div>    