                <!--Site Navigation-->
                <div class="navigation">
                  <!--Menu-->
                  <nav class="menu">
                    <ul>
                      <li class="active has-mega-menu"><a href="index.html">Home</a>
                        <div class="mega-menu">
                          <div class="container">
                            <div class="row">
                              <div class="col-sm-3">
                                <h4>Homepages</h4>
                                <ul>
                                  <li class="has-submenu active"><a href="home-business-law.html" data-target="#business">Home Business</a></li>
                                  <li class="has-submenu"><a href="home-portfolio-photographer.html" data-target="#portfolio">Home Portfolio</a></li>
                                  <li class="has-submenu"><a href="home-blog-corporate.html" data-target="#blog">Home Blog</a></li>
                                  <li class="has-submenu"><a href="home-shop-catalog.html" data-target="#ecommerce">Home E-Commerce</a></li>
                                  <li class="has-submenu"><a href="home-events.html" data-target="#events">Home Events</a></li>
                                  <li class="has-submenu"><a href="home-startup.html" data-target="#startup">Home Startup</a></li>
                                  <li class="has-submenu"><a href="home-landing.html" data-target="#landing">Home Landing</a></li>
                                  <li class="has-submenu"><a href="home-services.html" data-target="#services">Home Services</a></li>
                                </ul>
                              </div>
                              
                              <div class="col-sm-9">
                                <div class="row">
                                
                                  <!--Home Business Submenu-->
                                  <div class="col-sm-8 mega-submenu active" id="business">
                                    <h4 class="text-center">Choose Version</h4>
                                    <div class="row">
                                      <div class="col-sm-6">
                                        <a class="img-link" href="home-business-law.html">
                                          <img src="img/megamenu/business-law.png" alt="Lawyer Services"/>
                                          Lawyer Services
                                        </a>
                                      </div>
                                      <div class="col-sm-6">
                                        <a class="img-link" href="home-business-real-estate.html">
                                          <img src="img/megamenu/business-real-estate.png" alt="Real Estate"/>
                                          Real Estate
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                  
                                  <!--Home Portfolio Submenu-->
                                  <div class="col-sm-8 mega-submenu" id="portfolio">
                                    <h4 class="text-center">Choose Version</h4>
                                    <div class="row">
                                      <div class="col-sm-6">
                                        <a class="img-link" href="home-portfolio-photographer.html">
                                          <img src="img/megamenu/portfolio-photo.png" alt="Photographer"/>
                                          Photographer
                                        </a>
                                      </div>
                                      <div class="col-sm-6">
                                        <a class="img-link" href="home-portfolio-musician.html">
                                          <img src="img/megamenu/portfolio-music.png" alt="Musician"/>
                                          Musician
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                  
                                  <!--Home Blog Submenu-->
                                  <div class="mega-submenu col-sm-8" id="blog">
                                    <h4 class="text-center">Choose Version</h4>
                                    <div class="row">
                                      <div class="col-md-6 col-sm-6">
                                        <a class="img-link" href="home-blog-personal.html">
                                          <img src="img/megamenu/blog-personal.png" alt="Personal Blog"/>
                                          Personal Blog
                                        </a>
                                      </div>
                                      <div class="col-md-6 col-sm-6">
                                        <a class="img-link" href="home-blog-corporate.html">
                                          <img src="img/megamenu/blog-corporate.png" alt="Corporate Blog"/>
                                          Corporate Blog
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                  
                                  <!--Home Ecommerce Submenu-->
                                  <div class="mega-submenu col-sm-8" id="ecommerce">
                                    <h4 class="text-center">Choose Version</h4>
                                    <div class="row">
                                      <div class="col-sm-6">
                                        <a class="img-link" href="home-shop-catalog.html">
                                          <img src="img/megamenu/shop-catalog.png" alt="Home Catalog"/>
                                          Home Catalog
                                        </a>
                                      </div>
                                      <div class="col-sm-6">
                                        <a class="img-link" href="home-shop-featured-product.html">
                                          <img src="img/megamenu/shop-featured.png" alt="Featured Product"/>
                                          Featured Product
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                  
                                  <!--Home Events Submenu-->
                                  <div class="mega-submenu col-sm-8" id="events">
                                    <a class="img-link" href="home-events.html">
                                      <img src="img/megamenu/event.png" alt="Events"/>
                                    </a>
                                  </div>
                                  
                                  <!--Home Startup Submenu-->
                                  <div class="mega-submenu col-sm-8" id="startup">
                                    <a class="img-link" href="home-startup.html">
                                      <img src="img/megamenu/startup.png" alt="Startup"/>
                                    </a>
                                  </div>
                                  
                                  <!--Home Landing Submenu-->
                                  <div class="mega-submenu col-sm-8" id="landing">
                                    <a class="img-link" href="home-landing.html">
                                      <img src="img/megamenu/landing.png" alt="Landing"/>
                                    </a>
                                  </div>
                                  
                                  <!--Home Services Submenu-->
                                  <div class="mega-submenu col-sm-8" id="services">
                                    <a class="img-link" href="home-services.html">
                                      <img src="img/megamenu/services.png" alt="Services"/>
                                    </a>
                                  </div>
                                  
                                  <!--Help Info-->
                                  <div class="col-sm-4">
                                    <h4>Need Help?</h4>
                                    <p><a href="http://8guild.ticksy.com/" target="_blank">Visit the Help Center</a></p>
                                    <table>
                                      <tr>
                                        <td>Chat</td>
                                        <td class="text-danger">Currently offline</td>
                                      </tr>
                                      <tr>
                                        <td>Email</td>
                                        <td class="text-danger"><a href="mailto:support@8guild.com">support@8guild.com</a></td>
                                      </tr>
                                      <tr>
                                        <td>Phone</td>
                                        <td>+1 888 458 5376</td>
                                      </tr>
                                    </table>
                                    <p class="small text-muted">Our customers call us with gratitude, and we are very pleased by this!<br>Your difficulties is our concern.</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li><a href="blog-grid-sr.html">Blog</a>
                        <ul class="submenu">
                          <li><a href="blog-grid-sr.html">Grid Layout <i class="fa fa-angle-right"></i></a>
                            <ul class="sub-submenu">
                              <li><a href="blog-grid-fw.html">Grid Full Width</a></li>
                              <li><a href="blog-grid-sr.html">Grid Sidebar Right</a></li>
                              <li><a href="blog-grid-sl.html">Grid Sidebar Left</a></li>
                            </ul>
                          </li>
                          <li><a href="blog-list-sr.html">List Layout <i class="fa fa-angle-right"></i></a>
                            <ul class="sub-submenu">
                              <li><a href="blog-list-fw.html">List Full Width</a></li>
                              <li><a href="blog-list-2cols.html">List 2 Columns</a></li>
                              <li><a href="blog-list-sr.html">List Sidebar Right</a></li>
                              <li><a href="blog-list-sl.html">List Sidebar Left</a></li>
                            </ul>
                          </li>
                          <li><a href="blog-single-slider.html">Single Post <i class="fa fa-angle-right"></i></a>
                            <ul class="sub-submenu">
                              <li><a href="blog-single-image.html">Image Post</a></li>
                              <li><a href="blog-single-banner.html">Fullwidth Banner</a></li>
                              <li><a href="blog-single-gallery.html">Gallery Post</a></li>
                              <li><a href="blog-single-slider.html">Slider Post</a></li>
                              <li><a href="blog-single-video.html">Video Post</a></li>
                              <li><a href="blog-single-audio.html">Audio Post</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li><a href="shop-grid-1-big-banner.html">Shop</a>
                        <ul class="submenu">
                          <li><a href="shop-grid-1-big-banner.html">Grid Layout Type 1 <i class="fa fa-angle-right"></i></a>
                            <ul class="sub-submenu">
                              <li><a href="shop-grid-1-fw.html">Grid Full Width</a></li>
                              <li><a href="shop-grid-1-big-banner.html">Grid Big Banner</a></li>
                              <li><a href="shop-grid-1-sl.html">Grid Sidebar Left</a></li>
                              <li><a href="shop-grid-1-sr.html">Grid Sidebar Right</a></li>
                            </ul>
                          </li>
                          <li><a href="shop-grid-2-big-banner.html">Grid Layout Type 2 <i class="fa fa-angle-right"></i></a>
                            <ul class="sub-submenu">
                              <li><a href="shop-grid-2-fw.html">Grid Full Width</a></li>
                              <li><a href="shop-grid-2-big-banner.html">Grid Big Banner</a></li>
                              <li><a href="shop-grid-2-sl.html">Grid Sidebar Left</a></li>
                              <li><a href="shop-grid-2-sr.html">Grid Sidebar Right</a></li>
                            </ul>
                          </li>
                          <li><a href="shop-list-big-banner.html">List Layout <i class="fa fa-angle-right"></i></a>
                            <ul class="sub-submenu">
                              <li><a href="shop-list-fw.html">List Full Width</a></li>
                              <li><a href="shop-list-big-banner.html">List Big Banner</a></li>
                              <li><a href="shop-list-sl.html">List Sidebar Left</a></li>
                              <li><a href="shop-list-sr.html">List Sidebar Right</a></li>
                            </ul>
                          </li>
                          <li><a href="shop-single-dr.html">Single Product <i class="fa fa-angle-right"></i></a>
                            <ul class="sub-submenu">
                              <li><a href="shop-single-dr.html">Description Right</a></li>
                              <li><a href="shop-single-dl.html">Description Left</a></li>
                            </ul>
                          </li>
                          <li><a href="shopping-cart.html">Shopping Cart</a></li>
                          <li><a href="wishlist.html">Wishlist</a></li>
                          <li><a href="checkout.html">Checkout <i class="fa fa-angle-right"></i></a>
                            <ul class="sub-submenu">
                              <li><a href="checkout.html">Checkout Page</a></li>
                              <li><a href="checkout-unregistered.html">Unregistered User</a></li>
                            </ul>
                          </li>
                          <li><a href="shop-delivery.html">Delivery Info Page</a></li>
                          <li><a href="shop-tracking.html">Delivery Tracking</a></li>
                          <li><a href="shop-history.html">Purchase History</a></li>
                        </ul>
                      </li>
                      <li class="has-mega-menu"><a href="#">Shop Mega-Menu</a>
                        <div class="mega-menu">
                          <div class="container">
                            <div class="row">
                              <div class="col-md-2 col-sm-3">
                                <h4>Categories</h4>
                                <ul>
                                  <li class="has-submenu active"><a href="#" data-target="#big-banner">Big Banner</a></li>
                                  <li class="has-submenu"><a href="#" data-target="#three-cats">Three Categories</a></li>
                                  <li class="has-submenu"><a href="#" data-target="#bestsellers">Best Sellers</a></li>
                                  <li class="has-submenu"><a href="#" data-target="#cat-banner">Category Banner</a></li>
                                  <li class="has-submenu"><a href="#" data-target="#bonus">Bonus Version</a></li>
                                </ul>
                              </div>
                              
                              <!--Big Banner-->
                              <div class="mega-submenu col-md-10 col-sm-9 active" id="big-banner">
                                <a class="img-link" href="#"><img src="img/megamenu/big-banner.jpg" alt="Banner"/></a>
                              </div>
                              
                              <!--Three Categories-->
                              <div class="mega-submenu col-md-10 col-sm-9" id="three-cats">
                                <h4 class="text-center">GET THE LATEST FROM KEDAVRA</h4>
                                <div class="row">
                                  <div class="col-md-4 col-sm-4">
                                    <a class="img-link" href="#">
                                      <img src="img/megamenu/cat01.png" alt="Cat01"/>
                                    </a>
                                    <h5>Lorem ipsum dolor sit</h5>
                                    <p>Lorem aute irure dolor elit, sed nulla amet dolor do eiusmod tempor ut labore et.</p>
                                  </div>
                                  <div class="col-md-4 col-sm-4">
                                    <a class="img-link" href="#">
                                      <img src="img/megamenu/cat02.png" alt="Cat02"/>
                                    </a>
                                    <h5>Lorem ipsum dolor sit</h5>
                                    <p>Lorem aute irure dolor elit, sed nulla amet dolor do eiusmod tempor ut labore et.</p>
                                  </div>
                                  <div class="col-md-4 col-sm-4">
                                  <a class="img-link" href="#">
                                    <img src="img/megamenu/cat03.png" alt="Cat03"/>
                                  </a>
                                  <h5>Lorem ipsum dolor sit</h5>
                                  <p>Lorem aute irure dolor elit, sed nulla amet dolor do eiusmod tempor ut labore et.</p>
                                  </div>
                                </div>
                              </div>
                              
                              <!--Best Sellers-->
                              <div class="mega-submenu col-md-10 col-sm-9" id="bestsellers">
                                <div class="row">
                                  <div class="col-md-3 col-sm-3">
                                    <h4>Bags &amp; Accessories</h4>
                                    <ul>
                                      <li><a href="#">Handbags</a></li>
                                      <li><a href="#">Backpacks</a></li>
                                      <li><a href="#">Wallets</a></li>
                                      <li><a href="#">Purses</a></li>
                                      <li><a href="#">Sport Bags</a></li>
                                      <li><a href="#">Belts</a></li>
                                      <li><a href="#">Gloves</a></li>
                                      <li><a href="#">Leather Shoes</a></li>
                                    </ul>
                                  </div>
                                  <div class="col-md-9 col-sm-9">
                                    <h4 class="text-center">CHOOSE YOUR WALLET</h4>
                                    <div class="row">
                                      <div class="col-md-4 col-sm-4">
                                        <a class="img-link uppercase" href="#">
                                          <img src="img/megamenu/bestsell01.png" alt="Bestsell01"/>
                                          Wallet Gray
                                        </a>
                                      </div>
                                      <div class="col-md-4 col-sm-4">
                                        <a class="img-link uppercase" href="#">
                                          <img src="img/megamenu/bestsell02.png" alt="Bestsell02"/>
                                          Wallet Black
                                        </a>
                                      </div>
                                      <div class="col-md-4 col-sm-4">
                                        <a class="img-link uppercase" href="#">
                                          <img src="img/megamenu/bestsell03.png" alt="Bestsell03"/>
                                          Wallet Brown
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              
                              <!--Category Banner-->
                              <div class="mega-submenu col-md-10 col-sm-9" id="cat-banner">
                                <div class="row">
                                  <div class="col-md-3 col-sm-3">
                                    <h4>Bags &amp; Accessories</h4>
                                    <ul>
                                      <li><a href="#">Handbags</a></li>
                                      <li><a href="#">Backpacks</a></li>
                                      <li><a href="#">Wallets</a></li>
                                      <li><a href="#">Purses</a></li>
                                      <li><a href="#">Sport Bags</a></li>
                                      <li><a href="#">Belts</a></li>
                                      <li><a href="#">Gloves</a></li>
                                      <li><a href="#">Leather Shoes</a></li>
                                      <li><a href="#">Clothing</a></li>
                                    </ul>
                                  </div>
                                  <div class="col-md-9 col-sm-9">
                                    <h4 class="text-center">FREE SHIPING</h4>
                                    <a href="#" class="img-link"><img src="img/megamenu/cat-banner.jpg" alt="Banner"/></a>
                                  </div>
                                </div>
                              </div>
                              
                              <!--Bonus Version-->
                              <div class="mega-submenu col-md-10 col-sm-9" id="bonus">
                                <div class="row">
                                  <div class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-1">
                                    <a class="img-link uppercase" href="#">
                                      <img src="img/megamenu/bonus/soccer.png" alt="Soccer"/>
                                      Soccer
                                    </a>
                                  </div>
                                  <div class="col-md-2 col-sm-2">
                                    <a class="img-link uppercase" href="#">
                                      <img src="img/megamenu/bonus/running.png" alt="Running"/>
                                      Running
                                    </a>
                                  </div>
                                  <div class="col-md-2 col-sm-2">
                                    <a class="img-link uppercase" href="#">
                                      <img src="img/megamenu/bonus/training.png" alt="Training"/>
                                      Training
                                    </a>
                                  </div>
                                  <div class="col-md-2 col-sm-2">
                                    <a class="img-link uppercase" href="#">
                                      <img src="img/megamenu/bonus/football.png" alt="Football"/>
                                      Football
                                    </a>
                                  </div>
                                  <div class="col-md-2 col-sm-2">
                                    <a class="img-link uppercase" href="#">
                                      <img src="img/megamenu/bonus/basketball.png" alt="Basketball"/>
                                      Basketball
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li><a href="pages.html">Pages</a>
                        <ul class="submenu">
                          <li><a href="login.html">Login Page</a></li>
                          <li><a href="signup.html">Sign Up Page</a></li>
                          <li><a href="user-account.html">User Account Page</a></li>
                          <li><a href="resume.html">Resume / Portfolio</a></li>
                          <li><a href="portfolio-single.html">Single Project Page</a></li>
                          <li><a href="events-schedule.html">Events Schedule</a></li>
                          <li><a href="about-corporate.html">About Us <i class="fa fa-angle-right"></i></a>
                            <ul class="sub-submenu">
                              <li><a href="about-corporate.html">About Corporate</a></li>
                              <li><a href="about-personal.html">About Personal</a></li>
                            </ul>
                          </li>
                          <li><a href="contacts.html">Contacts</a></li>
                          <li><a href="team.html">Our Team</a></li>
                          <li><a href="team-profile.html">Team Member Profile</a></li>
                          <li><a href="faq-tabs.html">FAQ/Support Pages <i class="fa fa-angle-right"></i></a>
                            <ul class="sub-submenu">
                              <li><a href="faq-tabs.html">Tabs Version</a></li>
                              <li><a href="faq-standard.html">Standard Version</a></li>
                            </ul>
                          </li>
                          <li><a href="under-construction.html">Under Construction</a></li>
                          <li><a href="search.html">Search Page</a></li>
                          <li><a href="search-results.html">Search Results</a></li>
                          <li><a href="404.html">Error Pages <i class="fa fa-angle-right"></i></a>
                            <ul class="sub-submenu">
                              <li><a href="404.html">404 Page</a></li>
                              <li><a href="500.html">500 Page</a></li>
                            </ul>
                          </li>
                          <li><a href="sitemap.html">Sitemap</a></li>
                        </ul>
                      </li>
                      <li><a href="components-and-styles.html">Features</a>
                        <ul class="submenu">
                          <li><a href="components-and-styles.html">Components &amp; Styles</a></li>
                          <li><a href="sliders-and-carousels.html">Sliders &amp; Carousels</a></li>
                          <li><a href="grid-and-list.html">Grid &amp; List Layouts</a></li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                  <!--Search-->
                  <div class="search"><i class="flaticon-search100"></i></div>
                </div>    