<!doctype html>
<!--Conditionals for IE8-9 Support-->
<!--[if IE]><html lang="en" class="ie"><![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    
    <title>Travis Nelson Blog</title>
    
    <!--SEO Meta Tags-->
    <meta name="description" content="Responsive Multipurpose HTML5 Template" />
	<meta name="keywords" content="responsive html5 template, multipurpose, blog, portfolio, e-commerce, bootstrap 3, css, jquery, flat, modern" />
	<meta name="author" content="8Guild" />
    <!--Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!--Favicon-->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!--Master Slider Styles-->
    <link href="masterslider/style/masterslider.css" rel="stylesheet" media="screen">
    <!--Kedavra Stylesheet-->
    <link href="css/styles.css" rel="stylesheet" media="screen">
    <!--Kedavra Color Scheme-->
    <link class="color-scheme" href="css/colors/color-2f8cea.css" rel="stylesheet" media="screen">
    <!--Google Maps API-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5DLwPPVAz88_k0yO2nmFe7T9k1urQs84"></script>
    <!--Modernizr-->
	<script src="js/libs/modernizr.custom.js"></script>
    <!--Adding Media Queries Support for IE8-->
    <!--[if lt IE 9]>
      <script src="js/plugins/respond.js"></script>
    <![endif]-->
    
  </head>
  
  <!--Body--> 
  <body class="parallax animated fadeIn"><!--Add "parallax" class if you have elements on the page with parallax backgrounds. "fadeIn" class makes content fades in on loading-->
  	
    <!--Off-Canvas-->
    <div class="off-canvas-wrap" data-offcanvas>
    	<div class="inner-wrap">
      
      	{{> menu-off-canvas}}

        <!--Layout-->
        <div class="site-layout"><!--If you add class "boxed" to .site-layout it wraps the whole document in a box, than you can simply add pattern background to body or leave it white. Please note in a "boxed" mode header doesn't stick to the top.-->
        
          
          <!--Header-->
          <header class="header sticky"><!--Adding class "sticky" to header enables its pinning to top on scroll. Please note in a "boxed" mode header doesn't stick to the top.-->
            <div class="inner">
              <div class="container group">
              
                <!--Logo-->
                <a class="logo" href="/"><img src="img/logo.png" alt="Kedavra"/></a>
                
                <!--Navigation Toggle-->
                <div class="left-off-canvas-toggle" id="nav-toggle">
                  <span></span>
                </div>
                
                {{> menu}}
  
              </div>
            </div>
            
            <!--Quick Search-->
            <form class="quick-search" method="get" autocomplete="off">
              <div class="overlay"></div>
              <input class="search-field" type="text" placeholder="Search">
              <span>Press enter to search</span>
            </form>
            
          </header><!--Header Close-->
          
          {{{body}}}
        
          {{> footer}}
        
        </div><!--Layout Close-->
        
        <!-- close the off-canvas menu -->
        <a class="exit-off-canvas"></a>
      </div>
    </div><!--Off-Canvas Close-->
          
    <!--Sticky Buttons-->
    <div class="sticky-btns">
      <form class="quick-contact" method="post" name="quick-contact">
        <h3>Contact us</h3>
        <div class="form-group">
          <label for="qc-name">Full name</label>
          <input class="form-control" type="text" name="qc-name" id="qc-name" placeholder="Enter full name" required>
        </div>
        <div class="form-group">
          <label for="qc-email">Email</label>
          <input class="form-control" type="email" name="qc-email" id="qc-email" placeholder="Enter email" required>
        </div>
        <div class="form-group">
          <label for="qc-message">Your message</label>
          <textarea class="form-control" name="qc-message" id="qc-message" placeholder="Enter your message" required></textarea>
        </div>
        <input class="btn btn-primary btn-block" type="submit" value="Send">
      </form>
      <span id="qcf-btn"><i class="fa fa-envelope"></i></span>
      <span id="scrollTop-btn"><i class="fa fa-chevron-up"></i></span>
    </div><!--Sticky Buttons Close-->
    
    <!--Javascript (jQuery) Libraries and Plugins-->
	<script src="js/libs/jquery-1.11.1.min.js"></script>
    <script src="js/libs/jquery.easing.min.js"></script>
	<script src="js/plugins/bootstrap.min.js"></script>
    <script src="js/plugins/bootstrap-datepicker.js"></script>
	<script src="js/plugins/smoothscroll.js"></script>
    <script src="js/plugins/utilities.js"></script>
	<script src="js/plugins/foundation.min.js"></script>
	<script src="js/plugins/jquery.placeholder.js"></script>
    <script src="js/plugins/icheck.min.js"></script>
	<script src="js/plugins/jquery.validate.min.js"></script>
	<script src="js/plugins/waypoints.min.js"></script>
   	<script src="js/plugins/isotope.min.js"></script>
	<script src="js/plugins/masterslider.min.js"></script>
	<script src="js/plugins/owl.carousel.min.js"></script>
    <script src="js/plugins/lightGallery.min.js"></script>
	<script src="js/plugins/jquery.stellar.min.js"></script>
    <script src="js/plugins/jquery.parallax.min.js"></script>
	<script src="js/plugins/chart.min.js"></script>
    <script src="js/plugins/jquery-numerator.js"></script>
    <script src="js/plugins/jquery.countdown.min.js"></script>
	<script src="js/plugins/jquery.easypiechart.min.js"></script>
    <script src="js/plugins/jquery.nouislider.min.js"></script>
    <script src="js/plugins/card.min.js"></script>
    <script src="js/scripts.js"></script>
    
  </body><!--Body Close-->
</html>