		<div class="page">
        
        	<!--Profile Info-->
          <section class="page-block">
          	<div class="container">
              <div class="row">
                <div class="col-sm-6 col-md-6 col-sm-push-6 col-md-push-6 space-bottom">
                  <div class="team-member-img space-top">
                    <img src="/img/team/profile-pick.jpg" alt="William Smith">
                    <div class="social">
                    	<a class="tooltipped" href="#" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                      <a class="tooltipped" href="#" data-placement="top" title="" data-original-title="Behance"><i class="fa fa-behance"></i></a>
                      <a class="tooltipped" href="#" data-placement="top" title="" data-original-title="Dribbble"><i class="fa fa-dribbble"></i></a>
                      <a class="tooltipped" href="#" data-placement="top" title="" data-original-title="Github"><i class="fa fa-github"></i></a>
                    	<a class="tooltipped" href="#" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                      <a class="tooltipped" href="#" data-placement="top" title="" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a>
                      <a class="tooltipped" href="#" data-placement="top" title="" data-original-title="Tumblr"><i class="fa fa-tumblr"></i></a>
                      <a class="tooltipped" href="#" data-placement="top" title="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-sm-pull-6 col-md-pull-6">
                  <h4 class="text-primary">Art Director</h4>
                  <h2 class="post-title">William Smith</h2>
                  <div class="block-devider"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, quisquam, maiores consequuntur distinctio repellendus beatae fugiat est non officiis natus dolore eligendi accusamus illo quod quae consectetur voluptatum.</p></div>
                  <div class="block-devider">
                  	<ul class="featured-list">
                    	<li>Dolores quisquam maiores consequuntur distinctio</li>
                      <li>Sed ut perspiciatis unde omnis iste natus error</li>
                      <li>Neque porro quisquam est, qui dolorem ipsum</li>
                    </ul>
                  </div>
                  <div class="block-devider">
                  	<div class="row">
                    	<div class="col-md-12 team-member-details">
                        <h4>Contact details</h4>
                    		<div class="row">
                          <div class="col-md-6 col-sm-6">
                            <h5>Email:</h5>
                            <p><a href="mailto:willsmith@domain.com">willsmith@domain.com</a></p>
                            <h5>Telephone:</h5>
                            <p>+380 (50) 701-11-25</p>
                          </div>
                          <div class="col-md-6 col-sm-6">
                            <h5>Adress:</h5>
                            <p>Chestnut St. 2125<br>San Francisco, CA 94123</p>
                          </div>
                        </div>
                    	</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section><!--Profile Info Close-->
          
          <!--Services-->
          <section class="page-block space-bottom">
          	<div class="container">
            	<div class="page-heading center">
            		<h3>Main areas of specialisation<span></span></h3>
            	</div>
          		<div class="row">
              	<div class="col-md-6">
                	<div class="row">
                    <div class="col-md-6 col-sm-6 icon-block">
                      <div class="featured-icon"><i class="flaticon-shining2"></i></div>
                      <h5>Lorem ipsum dolor sit amet.</h5>
                      <p>Lorem aute irure dolor elit, sed nulla amet dolor do eiusmod tempor ut labore et dolore magna lorem nulla.</p>
                    </div>
                    <div class="col-md-6 col-sm-6 icon-block">
                      <div class="featured-icon"><i class="flaticon-earth205"></i></div>
                      <h5>Lorem ipsum dolor sit amet.</h5>
                      <p>Lorem aute irure dolor elit, sed nulla amet dolor do eiusmod tempor ut labore et dolore magna lorem nulla.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                	<div class="row">
                    <div class="col-md-6 col-sm-6 icon-block">
                      <div class="featured-icon"><i class="flaticon-camera59"></i></div>
                      <h5>Lorem ipsum dolor sit amet.</h5>
                      <p>Lorem aute irure dolor elit, sed nulla amet dolor do eiusmod tempor ut labore et dolore magna lorem nulla.</p>
                    </div>
                    <div class="col-md-6 col-sm-6 icon-block">
                      <div class="featured-icon"><i class="flaticon-create2"></i></div>
                      <h5>Lorem ipsum dolor sit amet.</h5>
                      <p>Lorem aute irure dolor elit, sed nulla amet dolor do eiusmod tempor ut labore et dolore magna lorem nulla.</p>
                    </div>
                  </div>
                </div>
              </div>
              <a class="btn btn-primary btn-md  btn-center" href="#">View details</a>
            </div>
          </section><!--Services Close-->
          
          <!--Skills-->
          <section class="page-block gray-bg double-space-top no-padding-bottom">
          	<div class="container">
            	<div class="page-heading center">
                <h2>My best skills</h2>
            		<h3>Here is what I do best<span></span></h3>
            	</div>
              <div class="row">
              	<div class="col-md-3 col-sm-3">
                  <div class="percent-chart" data-percent="55" data-bar-color="#448956">
                    <span class="percent">55</span>
                    <span class="legend">Prototyping</span>
                  <canvas height="280" width="280" style="height: 140px; width: 140px;"></canvas></div>
                </div>
              	<div class="col-md-3 col-sm-3">
                  <div class="percent-chart" data-percent="90" data-bar-color="#448956">
                    <span class="percent">90</span>
                    <span class="legend">HTML / CSS / jQuery</span>
                  <canvas height="280" width="280" style="height: 140px; width: 140px;"></canvas></div>
                </div>
              	<div class="col-md-3 col-sm-3">
                  <div class="percent-chart" data-percent="40" data-bar-color="#448956">
                    <span class="percent">40</span>
                    <span class="legend">PHP / MySQL</span>
                  <canvas height="280" width="280" style="height: 140px; width: 140px;"></canvas></div>
                </div>
              	<div class="col-md-3 col-sm-3">
                  <div class="percent-chart" data-percent="65" data-bar-color="#448956">
                    <span class="percent">65</span>
                    <span class="legend">Wordprerss</span>
                  <canvas height="280" width="280" style="height: 140px; width: 140px;"></canvas></div>
                </div>
              </div>
            </div>
          </section><!--Skills Close-->
          
          <!--Masonry Gallery Grid / Recent Works-->
          <section class="page-block space-top">
          	<div class="container">
          		<div class="page-heading center">
          			<h2>My recent works</h2>
                <h3>See below my recent works<span></span></h3>
          		</div>
              <!--Filters-->
              <ul class="filters">
              	<li class="current"><a href="#" data-filter="*">View All</a></li>
              	<li><a href="#" data-filter=".design">Design</a></li>
              	<li><a href="#" data-filter=".photo">Photo</a></li>
              	<li><a href="#" data-filter=".illustr">Illustration</a></li>
              </ul>
              <!--Gallery Grid-->
              <div class="gallery-grid masonry" style="position: relative; height: 900px;">
                <div class="grid-sizer"></div>
                <div class="lightGallery"><!--In order to add lightbox gallery wrap grid in a div "lightGallery" and add "data-src" to each ".item"-->
                  <div class="item width2 photo" data-src="/img/gallery/masonry/1.jpg" data-title="Project Name 01" style="position: absolute; left: 0px; top: 0px;">
                    <figure class="effect-01">
                      <img src="/img/gallery/masonry/th_1.jpg" alt="01">
                      <figcaption>
                        <h3>Project <span>Name</span></h3>
                        <p>Lorem ipsum dolor sit amet</p>
                        <a href="/img/gallery/masonry/1.jpg">View more</a>
                      </figcaption>			
                    </figure>
                  </div>
                  <div class="item design illustr" data-src="/img/gallery/masonry/2.jpg" data-title="Project Name 02" style="position: absolute; left: 570px; top: 0px;">
                    <figure class="effect-01">
                      <img src="/img/gallery/masonry/th_2.jpg" alt="02">
                      <figcaption>
                        <h3>Project <span>Name</span></h3>
                        <p>Lorem ipsum dolor sit amet</p>
                        <a href="/img/gallery/masonry/2.jpg">View more</a>
                      </figcaption>			
                    </figure>
                  </div>
                  <div class="item illustr" data-src="/img/gallery/masonry/3.jpg" data-title="Project Name 03" style="position: absolute; left: 855px; top: 0px;">
                    <figure class="effect-01">
                      <img src="/img/gallery/masonry/th_3.jpg" alt="03">
                      <figcaption>
                        <h3>Project <span>Name</span></h3>
                        <p>Lorem ipsum dolor sit amet</p>
                        <a href="/img/gallery/masonry/3.jpg">View more</a>
                      </figcaption>			
                    </figure>
                  </div>
                  <div class="item design" data-src="/img/gallery/masonry/4.jpg" data-title="Project Name 04" style="position: absolute; left: 0px; top: 300px;">
                    <figure class="effect-01">
                      <img src="/img/gallery/masonry/th_4.jpg" alt="04">
                      <figcaption>
                        <h3>Project <span>Name</span></h3>
                        <p>Lorem ipsum dolor sit amet</p>
                        <a href="/img/gallery/masonry/4.jpg">View more</a>
                      </figcaption>			
                    </figure>
                  </div>
                  <div class="item width2 photo illustr" data-src="/img/gallery/masonry/5.jpg" data-title="Project Name 05" style="position: absolute; left: 285px; top: 300px;">
                    <figure class="effect-01">
                      <img src="/img/gallery/masonry/th_5.jpg" alt="05">
                      <figcaption>
                        <h3>Project <span>Name</span></h3>
                        <p>Lorem ipsum dolor sit amet</p>
                        <a href="/img/gallery/masonry/5.jpg">View more</a>
                      </figcaption>			
                    </figure>
                  </div>
                  <div class="item photo illustr" data-src="/img/gallery/masonry/6.jpg" data-title="Project Name 06" style="position: absolute; left: 855px; top: 300px;">
                    <figure class="effect-01">
                      <img src="/img/gallery/masonry/th_6.jpg" alt="06">
                      <figcaption>
                        <h3>Project <span>Name</span></h3>
                        <p>Lorem ipsum dolor sit amet</p>
                        <a href="/img/gallery/masonry/6.jpg">View more</a>
                      </figcaption>			
                    </figure>
                  </div>
                  <div class="item width2 design illustr" data-src="/img/gallery/masonry/7.jpg" data-title="Project Name 07" style="position: absolute; left: 0px; top: 600px;">
                    <figure class="effect-01">
                      <img src="/img/gallery/masonry/th_7.jpg" alt="07">
                      <figcaption>
                        <h3>Project <span>Name</span></h3>
                        <p>Lorem ipsum dolor sit amet</p>
                        <a href="/img/gallery/masonry/7.jpg">View more</a>
                      </figcaption>			
                    </figure>
                  </div>
                  <div class="item width2 photo design" data-src="/img/gallery/masonry/8.jpg" data-title="Project Name 08" style="position: absolute; left: 570px; top: 600px;">
                    <figure class="effect-01">
                      <img src="/img/gallery/masonry/th_8.jpg" alt="08">
                      <figcaption>
                        <h3>Project <span>Name</span></h3>
                        <p>Lorem ipsum dolor sit amet</p>
                        <a href="/img/gallery/masonry/8.jpg">View more</a>
                      </figcaption>			
                    </figure>
                  </div>
                </div>
              </div>
          	</div>
          </section><!--Masonry Gallery Grid Close-->
          
          <!--Clients-->
          <section class="page-block gray-bg double-space-top">
          	<div class="container">
          		<div class="page-heading center">
              	<h2>My lovely clients</h2>
                <h3>The compnies i am proud to work with <span></span></h3>
              </div>
              <!--Logo Carousel Widget-->
              <div class="logo-carousel owl-carousel owl-theme owl-loaded" data-auto-play="true" data-timeout="3000">
              	
                
                
                
                
                
              <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1250px, 0px, 0px); transition: 0.25s; width: 3500px;"><div class="owl-item cloned" style="width: 250px; margin-right: 0px;"><a href="#"><img src="/img/logos/3.png" alt="TNW"></a></div><div class="owl-item cloned" style="width: 250px; margin-right: 0px;"><a href="#"><img src="/img/logos/4.png" alt="Wired"></a></div><div class="owl-item cloned" style="width: 250px; margin-right: 0px;"><a href="#"><img src="/img/logos/5.png" alt="Mashable"></a></div><div class="owl-item cloned" style="width: 250px; margin-right: 0px;"><a href="#"><img src="/img/logos/6.png" alt="TEDx"></a></div><div class="owl-item" style="width: 250px; margin-right: 0px;"><a href="#"><img src="/img/logos/1.png" alt="BBC News"></a></div><div class="owl-item active" style="width: 250px; margin-right: 0px;"><a href="#"><img src="/img/logos/2.png" alt="The Gardian"></a></div><div class="owl-item active" style="width: 250px; margin-right: 0px;"><a href="#"><img src="/img/logos/3.png" alt="TNW"></a></div><div class="owl-item active" style="width: 250px; margin-right: 0px;"><a href="#"><img src="/img/logos/4.png" alt="Wired"></a></div><div class="owl-item active" style="width: 250px; margin-right: 0px;"><a href="#"><img src="/img/logos/5.png" alt="Mashable"></a></div><div class="owl-item" style="width: 250px; margin-right: 0px;"><a href="#"><img src="/img/logos/6.png" alt="TEDx"></a></div><div class="owl-item cloned" style="width: 250px; margin-right: 0px;"><a href="#"><img src="/img/logos/1.png" alt="BBC News"></a></div><div class="owl-item cloned" style="width: 250px; margin-right: 0px;"><a href="#"><img src="/img/logos/2.png" alt="The Gardian"></a></div><div class="owl-item cloned" style="width: 250px; margin-right: 0px;"><a href="#"><img src="/img/logos/3.png" alt="TNW"></a></div><div class="owl-item cloned" style="width: 250px; margin-right: 0px;"><a href="#"><img src="/img/logos/4.png" alt="Wired"></a></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div></div><div class="owl-dots" style="display: none;"></div></div></div>
          	</div>
          </section><!--Clients Close-->
          
          <!--Contact Form-->
          <section class="page-block space-top double-space-bottom">
          	<div class="container">
            	<div class="page-heading center">
              	<h3 class="heading">Contact me for further information<span></span></h3>
              </div>
          		<div class="row">
              	<div class="col-lg-6 col-md-6 col-sm-6">
                  <p>Ad dicunt timeam qui, in ius ipsum audiam tincidunt. Ad tantas audiam euismod eum, vix elit forensibus cu. No nam nulla tempor officiis, eos id summo omnium, ei posse senserit sea. Eum id timeam impedit.</p>

                  <div class="progress space-top">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                      60% Coding
                    </div>
                  </div>
                  <div class="progress space-top">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                      80% Css
                    </div>
                  </div>
                  <div class="progress space-top">
                    <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
                      60% Marketing
                    </div>
                  </div>
                </div>
          			<div class="col-lg-6 col-md-6 col-sm-6">
                	<form method="post" class="contact-form" novalidate="novalidate">
                  	<div class="row">
                    	<div class="form-group col-md-6 col-sm-6">
                        <label class="sr-only" for="name"></label>
                        <input class="form-control input-lg" type="text" name="name" id="name" placeholder="First Name" required="" aria-required="true">
                      </div>
                    	<div class="form-group col-md-6 col-sm-6">
                        <label class="sr-only" for="email"></label>
                        <input class="form-control input-lg" type="email" name="email" id="email" placeholder="E-mail" required="" aria-required="true">
                      </div>
                    </div>
                    <div class="row">
                    	<div class="form-group col-md-12 col-sm-12">
                        <label class="sr-only" for="message"></label>
                        <textarea class="form-control input-lg" name="message" id="message" rows="5" placeholder="Message" required="" aria-required="true"></textarea>
                      </div>
                    </div>
                    <input class="btn btn-md btn-primary btn-center" type="submit" value="Send message">
                  </form>
                </div>
          		</div>
          	</div>
          </section><!--Contact Form Close-->
          
          <!--Info Box Widget-->
          <section class="info-box gray">
            <div class="container space-top space-bottom">
              <div class="">
                <h4 class="light-color">Check out our new theme!</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
                <a class="btn btn-outlined btn-primary" style="margin:30px !important;" href="#">Buy Kedavra</a>
                <a class="btn btn-primary" href="#">See More</a>
              </div>
            </div>
          </section><!--Info Box Widget Close-->
          
        </div>