          <!--Page Content--><!-- InstanceBeginEditable name="content" -->
        <div class="page blog">
        	
          <!--Toolbox-->
          <div class="toolbox">
          	<div class="container">
            	<div class="heading">
              	<button class="back-btn" onclick="goBack()"><i class="fa fa-angle-left"></i></button>
                <h1>Blog List Full Width</h1>
              </div>
              <div class="layout-view">
              	<a class="grid" href="blog-grid-fw.html"><span></span><span></span></a>
                <a class="list active" href="#"><span></span><span></span><span></span></a>
              </div>
          	</div>
          </div><!--Toolbox Close-->
          
          <!--Breadcrumbs-->
          <div class="container space-top">
            <ol class="breadcrumb">
              <li><a href="index.html">Home</a></li>
              <li><a href="blog-list-sr.html">Blog</a></li>
              <li class="active">Blog List Full Width</li>
            </ol> 
          </div><!--Breadcrumbs Close-->
                 	
          <!--Blog Full Width List View-->
          <section class="list-view double-padding-bottom">
          	<div class="container">
          		<div class="row post">
              	<div class="col-md-3 col-sm-4">
                	<a class="featured-img" href="/post/"><img src="/img/blog/posts/post01.jpg" alt="Post01"/></a>
                </div>
              	<div class="col-md-9 col-sm-8">
                  <h3><a href="/post/">Welcome to our website!</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, quae sit architecto unde possimus voluptatem velit ab ipsam. Sunt, vitae, deleniti recusandae unde voluptates quidem dolorum nulla quisquam repellendus nisi. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <span class="devider"></span>
                  <div class="meta group">
                    <div class="left">
                      <a href="#">John Doe</a>
                      <span class="text-muted">in</span>
                      <a href="#">Editor Picks</a>
                    </div>
                    <div class="right"><span class="text-muted">5 min read</span></div>
                  </div>
                </div>
              </div>
          		<div class="row post">
              	<div class="col-md-3 col-sm-4">
                	<a class="featured-img" href="/post/"><img src="/img/blog/posts/post02.jpg" alt="Post02"/></a>
                </div>
              	<div class="col-md-9 col-sm-8">
                  <h3><a href="/post/">Web development is not rocket science.</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, quae sit architecto unde possimus voluptatem velit ab ipsam. Sunt, vitae, deleniti recusandae unde voluptates quidem dolorum nulla quisquam repellendus nisi. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <span class="devider"></span>
                  <div class="meta group">
                    <div class="left">
                      <a href="#">James Roe</a>
                      <span class="text-muted">in</span>
                      <a href="#">Most Popular</a>
                    </div>
                    <div class="right"><span class="text-muted">10 min read</span></div>
                  </div>
                </div>
              </div>
          		<div class="row post">
              	<div class="col-md-3 col-sm-4">
                	<a class="featured-img" href="/post/"><img src="/img/blog/posts/post03.jpg" alt="Post03"/></a>
                </div>
              	<div class="col-md-9 col-sm-8">
                  <h3><a href="/post/">Found new constellation in our galaxy.</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, quae sit architecto unde possimus voluptatem velit ab ipsam. Sunt, vitae, deleniti recusandae unde voluptates quidem dolorum nulla quisquam repellendus nisi. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <span class="devider"></span>
                  <div class="meta group">
                    <div class="left">
                      <a href="#">Dexter Dirk</a>
                      <span class="text-muted">in</span>
                      <a href="#">Our Galaxy</a>
                    </div>
                    <div class="right"><span class="text-muted">15 min read</span></div>
                  </div>
                </div>
              </div>
          		<div class="row post">
              	<div class="col-md-3 col-sm-4">
                	<a class="featured-img" href="/post/"><img src="/img/blog/posts/post04.jpg" alt="Post04"/></a>
                </div>
              	<div class="col-md-9 col-sm-8">
                  <h3><a href="/post/">Review of new Nokia Lumia 1520</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, quae sit architecto unde possimus voluptatem velit ab ipsam. Sunt, vitae, deleniti recusandae unde voluptates quidem dolorum nulla quisquam repellendus nisi. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <span class="devider"></span>
                  <div class="meta group">
                    <div class="left">
                      <a href="#">William Smith</a>
                      <span class="text-muted">in</span>
                      <a href="#">Tech Reviews</a>
                    </div>
                    <div class="right"><span class="text-muted">8 min read</span></div>
                  </div>
                </div>
              </div>
              
              <!--Pagination-->
              <ul class="pagination">
              	<li class="page-count">Page 1 of 20:</li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>...</li>
                <li><a href="#">20</a></li>
                <li class="next"><a href="#">Next &raquo;</a></li>
              </ul>
          	</div>
          </section><!--Blog Close-->
       
        </div>
        <!--Page Content Close-->